@page { margin: 10px 0; }
body { font-size:12px; margin: 0; color: #000; }
table {	border-collapse:collapse; border-spacing:0; }
p {	margin:5px 0; }
h1, h2, h3, h4, h5, h6 { margin:0 0 10px 0;	padding:0; font-weight:normal; }
h1 { font-size:20px; }
h2 { font-size:19px; }
h3 { font-size:17px; }
h4 { font-size:15px; }
h5 { font-size:13px; }
h6 { font-size:12px; }
hr {
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
	height:0;
	border:0;
	border-top:1px solid #ddd;
	margin:10px 0;
}
* {
  box-sizing:border-box;
}
.table {
	width:100%;
	margin-bottom:10px;
}
.table-bordered > thead > tr > th, 
.table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, 
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > td {
	border:1px solid #999;
}
.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
	padding:1px 5px;
	vertical-align:top;
}

.SinglePagePropertySummer .table > thead > tr > th, .SinglePagePropertySummer .table > tbody > tr > th, .SinglePagePropertySummer .table > tfoot > tr > th, 
.SinglePagePropertySummer .table > thead > tr > td, .SinglePagePropertySummer .table > tbody > tr > td, .SinglePagePropertySummer .table > tfoot > tr > td, 
.AnnualPropertyOperating .table > thead > tr > th, .AnnualPropertyOperating .table > tbody > tr > th, .AnnualPropertyOperating .table > tfoot > tr > th, 
.AnnualPropertyOperating .table > thead > tr > td, .AnnualPropertyOperating .table > tbody > tr > td, .AnnualPropertyOperating .table > tfoot > tr > td, 
.RentReport .table > thead > tr > th, .RentReport .table > tbody > tr > th, .RentReport .table > tfoot > tr > th, 
.RentReport .table > thead > tr > td, .RentReport .table > tbody > tr > td, .RentReport .table > tfoot > tr > td, 
.OperatingExpensesReport .table > thead > tr > th, .OperatingExpensesReport .table > tbody > tr > th, .OperatingExpensesReport .table > tfoot > tr > th, 
.OperatingExpensesReport .table > thead > tr > td, .OperatingExpensesReport .table > tbody > tr > td, .OperatingExpensesReport .table > tfoot > tr > td, 
.IncomeStatement .table > thead > tr > th, .IncomeStatement .table > tbody > tr > th, .IncomeStatement .table > tfoot > tr > th, 
.IncomeStatement .table > thead > tr > td, .IncomeStatement .table > tbody > tr > td, .IncomeStatement .table > tfoot > tr > td, 
.RentalCashFlowReport .table > thead > tr > th, .RentalCashFlowReport .table > tbody > tr > th, .RentalCashFlowReport .table > tfoot > tr > th, 
.RentalCashFlowReport .table > thead > tr > td, .RentalCashFlowReport .table > tbody > tr > td, .RentalCashFlowReport .table > tfoot > tr > td, 
.DiscountCashFlowAnalysis .table > thead > tr > th, .DiscountCashFlowAnalysis .table > tbody > tr > th, .DiscountCashFlowAnalysis .table > tfoot > tr > th, 
.DiscountCashFlowAnalysis .table > thead > tr > td, .DiscountCashFlowAnalysis .table > tbody > tr > td, .DiscountCashFlowAnalysis .table > tfoot > tr > td, 
.LenderSummary .table > thead > tr > th, .LenderSummary .table > tbody > tr > th, .LenderSummary .table > tfoot > tr > th, 
.LenderSummary .table > thead > tr > td, .LenderSummary .table > tbody > tr > td, .LenderSummary .table > tfoot > tr > td, 
.RentalRefiAnalysis .table > thead > tr > th, .RentalRefiAnalysis .table > tbody > tr > th, .RentalRefiAnalysis .table > tfoot > tr > th, 
.RentalRefiAnalysis .table > thead > tr > td, .RentalRefiAnalysis .table > tbody > tr > td, .RentalRefiAnalysis .table > tfoot > tr > td, 
.FullTaxTreatment .table > thead > tr > th, .FullTaxTreatment .table > tbody > tr > th, .FullTaxTreatment .table > tfoot > tr > th, 
.FullTaxTreatment .table > thead > tr > td, .FullTaxTreatment .table > tbody > tr > td, .FullTaxTreatment .table > tfoot > tr > td, 
.PropertyValueEvolution .table > thead > tr > th, .PropertyValueEvolution .table > tbody > tr > th, .PropertyValueEvolution .table > tfoot > tr > th, 
.PropertyValueEvolution .table > thead > tr > td, .PropertyValueEvolution .table > tbody > tr > td, .PropertyValueEvolution .table > tfoot > tr > td, 
.FinancialRatiosReport .table > thead > tr > th, .FinancialRatiosReport .table > tbody > tr > th, .FinancialRatiosReport .table > tfoot > tr > th, 
.FinancialRatiosReport .table > thead > tr > td, .FinancialRatiosReport .table > tbody > tr > td, .FinancialRatiosReport .table > tfoot > tr > td {
	padding:1px;
	vertical-align:top;
	font-size:10px;
}
.form-horizontal {
	display:block;
	width:100%;
	float:left;
}
td, th {
	padding:0;
}
.table-bg {
	background:#F7F4F4;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
	display:inline-block;
	margin-left:0.9%;
	margin-right:0.9%;
}
.col-lg-offset-12{margin-left:100%}
.col-lg-offset-11{margin-left:91.66666667%}
.col-lg-offset-10{margin-left:83.33333333%}
.col-lg-offset-9{margin-left:75%}
.col-lg-offset-8{margin-left:66.66666667%}
.col-lg-offset-7{margin-left:58.33333333%}
.col-lg-offset-6{margin-left:50%}
.col-lg-offset-5{margin-left:41.66666667%}
.col-lg-offset-4{margin-left:33.33333333%}
.col-lg-offset-3{margin-left:25%}
.col-lg-offset-2{margin-left:16.66666667%}
.col-lg-offset-1{margin-left:8.33333333%}
.col-lg-offset-0{margin-left:0}

.col-lg-12{width:98%}
.col-lg-11{width:89.66666667%}
.col-lg-10{width:81.33333333%}
.col-lg-9{width:73%}
.col-lg-8{width:64.66666667%}
.col-lg-7{width:56.33333333%}
.col-lg-6{width:48%}
.col-lg-5{width:39.66666667%}
.col-lg-4{width:31.33333333%}
.col-lg-3{width:23%}
.col-lg-2{width:14.66666667%}
.col-lg-1{width:6.33333333%}

.text-left {
	text-align:left;
}.text-right {
	text-align:right;
}.text-center {
	text-align:center;
}

/* CoverPage */
.CoverPage {
	text-align:center;
}
.thumbnail {
	margin-bottom:10px;
}

.table.table-bg {
	background:#F7F4F4;
}
.table.table-borderless td, .table.table-borderless th {
	border: 0;
} 
.table.table-borderless {
	margin-bottom: 0px;
}
.ProjectSummary, .FlipRehabBudget, .RefiRehabBudget, .CoverPage, .FlipMarketingSheet, .RefiMarketingSheet, .FlipCashFlow, .RefiCashFlow, .FlipFundingRequest, .RefiFundingRequest, .FlipCashFlowLender, .RefiCashFlowLender, .CompsReport, .PicsPage {
	border:15px solid #fff;
	padding-bottom:15px;
	background-color:#fff;
	page-break-after:always;
	margin:0;
}
.form-control{margin-bottom:0;height:28px;padding:0 5px;border:none;font-size:12px;border:1px solid #ccc;}
.CoverPage, .SinglePagePropertySummer, .PicsPage, .AnnualPropertyOperating, .RentReport, .OperatingExpensesReport, .IncomeStatement, .RentalCashFlowReport, .DiscountCashFlowAnalysis, .LenderSummary, .RentalRefiAnalysis, .FullTaxTreatment, .PropertyValueEvolution, .FinancialRatiosReport {
	border:15px solid #fff;
	padding-bottom:15px;
	background-color:#fff;
	page-break-after:always;
	margin:0;
}
.MaxOffers {
	border:15px solid #fff;
	padding-bottom:15px;
	background-color:#fff;
	page-break-after:always;
	margin:0;
}
.Analyser {
	border:15px solid #fff;
	padding-bottom:15px;
	background-color:#fff;
	page-break-after:always;
	margin:0;
}
.title-border {
	border:1px solid #ddd;
	padding:5px 0;
	margin-top:0;
	background-color:#eee;
	text-transform:uppercase;
}
.bg-border {
	border:1px solid #ddd;
}
.top-bg-border {
	border-top:1px solid #ddd;
}
.thumbnail {
	height:150px;
    border: 1px solid #ddd;
    border-radius: 0;
    line-height: 1.42857;
    margin-bottom: 5px;
    padding: 2px;
}
.img-thumbnail {
    border: 1px solid #ddd;
    border-radius: 0;
    height: auto;
    line-height: 1.42857;
    max-width: 100%;
    padding: 2px;
	margin-bottom:5px;
}