/*
** Theme Name: CBList
*/
@import url(css/fonts.css);

/* ------------------------------------------------ */
/* ----------------- Common Style ----------------- */
/* ------------------------------------------------ */
html, body {
	font-family: 'Open Sans Regular';
	font-size:14px;
	line-height:normal;
	overflow-x:hidden;
	color:#000;
}
p {
	font-size:14px;
	color:#000;
}
hr {
	margin:10px 0 0 0;
	border-color:#e1e1e1;
}
em {
	font-weight:normal;
}
.loader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('images/loading.gif') 50% 50% no-repeat rgb(249,249,249);
}
.relative {
	position:relative;
}
.filter-loader {
	position: absolute;
	left: 0;
	top: 0;
	right:0;
	bottom:0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background: url('images/loading.gif') 50% 30% no-repeat rgb(249,249,249);
	display:none;
}
.jwlogo {
	display:none;
}
.btn {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}

.logo h1 {
	color: #000000;
	font-size: 80px;
	padding-bottom:40px;
}
.text-muted {
	color:#000000;
	font-size:25px;
}

/* ---------- */
/* 23-11-2015 */
/* ---------- */
.top_title{	
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 45px;
    margin-top: 0;
	text-transform: uppercase;
}
.img_section{
	border: 7px solid #ccc;
    border-radius: 4px;
    float: left;
    margin: 10px 15px 30px 0;	
}
.title_section{
	float: right;
    margin-top: 10px;
    width: 70%;
}
.title_section .time{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.title_section .content_area{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 30px;
}
.title_section .content_area .read_more{
	background: #007D31 none repeat scroll 0 0;
    border-radius: 2px;
    color: #FFFFFF;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 30px;
    padding: 2px 5px;
}
.title_section .content_area .read_more:hover{
	text-decoration:none;
	background: #96C124 none repeat scroll 0 0;	
}
.single_title_section{
    margin-top: 10px;
}
.single_title_section .time{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.single_title_section .content_area{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 30px;
}
.single_title_section .content_area .read_more{
	background: #007D31 none repeat scroll 0 0;
    border-radius: 2px;
    color: #FFFFFF;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 30px;
    padding: 2px 5px;
}
.single_title_section .content_area .read_more:hover{
	text-decoration:none;
	background: #96C124 none repeat scroll 0 0;	
}
.wp-pagenavi{
	clear: both;
	float: right;
}
.wp-pagenavi a, .wp-pagenavi span{	
	border: 1px solid #007D31;
	color: #007D31;
	margin: 2px;
	padding: 3px 5px;
	text-decoration: none;
}
.wp-pagenavi span.current{
	background: #007D31 none repeat scroll 0 0;
    border-color: #000000;
    color: #FFFFFF;
}
.wp-pagenavi a:hover{
	background: #96C124 none repeat scroll 0 0;
    border-color: #000000;
    color: #FFFFFF;
}

.wp-pagenavi span.current{
	font-weight: bold;
}
.breadcrumbs{
	float: left;
    margin: 0 0 25px 9px;
    width: 96%;	
}
.breadcrumbs a {
    color: #007D31;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
	margin-right: 5px;
}
/* ---------- */
/* 23-11-2015 */
/* ---------- */
@media (max-width: 767px){
	.logo h1 {
		font-size: 65px;
	}
}
/* ----------------------------------------------- */
/* ----------------- Header Part ----------------- */
/* ----------------------------------------------- */
#header {
	border-bottom: 1px solid #d1d1d1;
	background-color:#fafafa;
	margin-bottom:40px;
}nav {
	margin: 20px 0;
}.nav-tabs {
	border:none;
}nav ul li a {
	color:#00250f;
	font-weight:bold;
}

/* --------------------------------------------- */
/* ----------------- Home Page ----------------- */
/* --------------------------------------------- */
#homepage {
	margin-bottom:60px;
}#video {
    border: 1px solid #ddd;
    overflow: hidden;
}#video_logo {
	display:none;
}.oneline {
	padding:35px 0;
	text-align:center;
}.oneline a {
	margin-bottom:15px;
}


#signup {
	margin:50px 0;
}#signup .signup-box {
	margin:0 auto;
	background-color:#fafafa;
	padding:0;
	border:1px solid #e4e4e4;
	text-align:center;
}#signup .signup-box h1 {
	background-color:#007C30;
	color:#fff;
	font-family: 'Open Sans Bold';
	font-size:28px;
	line-height:60px;
	margin:0 0 15px 0;
}#signup .signup-box h1 a {
	color:#fff;
	text-decoration:none;
}#signup .signup-box .signup-body {
	padding:25px 0 0 0;
}#signup p {
    height: 85px;
}#signup .signup-box .linkedin-signup {
    background: url("images/signup-linkedin.png") no-repeat 0 0;
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);
    color: #fff;
    display: inline-block;
    font-family: Open Sans Light;
    font-size: 24px;
    height: 63px;
    line-height: 63px;
	text-align:left;
    padding: 0 0 0 90px;
    width: 360px;
	border:none;
}#signup .signup-box .linkedin-signup:hover {
	text-decoration:none;
}#signup .signup-box .signup-body strong {
	display:inline-block;
	width:100%;
	margin:30px 0;
	font-size:30px;
}#signup .signup-box .signup-body input[type="text"], 
#signup .signup-box .signup-body input[type="password"] {
	padding:5px 10px;
	border:1px solid #929292;
	width:90%;
	text-align:center;
	color:#5b5b5b;
	font-family: 'Open Sans Semibold';
	font-size:30px;
}#signup .signup-box .signup-body .register {
	background-color:#007C30;
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);
	padding:10px;
	border:none;
	width:90%;
	text-align:center;
	color:#ffffff;
	font-family: 'Open Sans Semibold';
	font-size:30px;
	margin-bottom:20px;
}#signup .signup-box .signup-body span.error {
	display:inline-block;
	width:100%;
	margin:5px 0;
	font-size:14px;
	color:#e00;
}.home {
	float:left;
	padding-left:10px;
}.sign-title {
    display: block;
    text-align: center;
    text-indent: -30px;
}
.navbar-nav > li > a {
	line-height:10px;
	padding:12px 25px;
	margin-top:10px;
}
.navbar-nav > li.active > a {
	background-color:#007d31;
	color:#fff;
}
.navbar-nav > li > a:hover {
	background-color:#96c124;
	color:#fff;
}
.navbar-toggle {
	background-color:#fff;
}.icon-bar {
	background-color:#000;
}
/* ---------------------------------------- */
/* ----------------- Page ----------------- */
/* ---------------------------------------- */
.left-panel {
	overflow:hidden;
	background-color:#f8f8f8;
	border-right: 1px solid #e8e8e8;
	position:fixed;
	-webkit-box-shadow:1px 0 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:1px 0 3px rgba(0, 0, 0, 0.1);
	box-shadow:1px 0 3px rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}.right-panel {
    margin-left: 16.6667%;
	-webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}h1.home-logo {
    margin: 0;
}h1.home-logo > a > img {
	margin:-25px 0 0;
  	width:150px;
}h1.home-logo > a, h1.home-logo > a:hover {
	color:#fff;
	font-size: 36px;
	font-weight:bold;
    line-height: 18px;
	text-decoration:none;
}.site-title h1 {
	background-color: #fff;
    color: #3b3b3b;
    font-size: 36px;
	font-weight:bold;
    line-height: 72px;
    margin: 0;
    text-align: center;
	padding:2px 0 8px 0;
}.site-title h1 a, .site-title h1 a:hover {
	color:#000;
	text-decoration:none;
}.account-pic {
	background-color:#545454;
	padding:12px 0;
	border-top:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
}.small-profile-pic {
	overflow:hidden;
}.small-profile-pic a {
	border: 1px solid #adaeaf;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
    border-radius: 50%;
    display: inline-block;
    height: 75px;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 75px;
	padding:0;
	margin:0;
}.small-profile-pic img {
    width: 100%;
	height:100%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius: 50%;
}.account-name {
	color: #676767;
    font-size: 14px;
}.account-name > span {
    float: left;
    margin-top: 10px;
    width: 100%;
}.account-name > a {
    display: inline-block;
    margin-top: 10px;
	color:#fff;
}.account-name > a:first-child {
	font-weight:bold;
}.upgrade-btn {
	padding:20px 0;
	border-bottom:1px solid #e8e8e8;
}.upgrade-btn a {
	text-decoration:none;
}.upgrade-btn button {
	background-color:#0089f3;
	border:1px solid #005fa9;
	font-family: "Open Sans Regular";
    font-size: 14px;
	color:#fff;
}.upgrade-btn button:hover {
	color:#fff;
}.panel-menu {
	padding:20px 0;
	border-bottom:1px solid #e8e8e8;
	overflow-x:auto;
}.panel-menu .nano {
	min-height:100px;
}.panel-menu ul {
	padding:0;
	margin:0;
	list-style:none;
	border-top:1px solid #dfdfdf;
	border-bottom:1px solid #fff;
}.panel-menu ul li {
	display:block;
	border-top:1px solid #fff;
	border-bottom:1px solid #dfdfdf;
	margin:0 -15px;
}.panel-menu ul li a {
	display:block;
	padding:10px 30px;
	color:#000;
	font-family: "Open Sans Regular";
    font-size: 14px;
	text-decoration:none;
}.panel-menu ul li.active {
	background-color:#545454;
}.panel-menu ul li.active a {
	color:#fff;
}.page-title {
	top:0;
	background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 15px;
    padding: 18px 0;
    position: fixed;
    width: 100%;
	height:72px;
    z-index: 999;
	-webkit-box-shadow:2px 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:2px 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:2px 1px 3px rgba(0, 0, 0, 0.1);
}.page-title h2 {
	font-family: "Open Sans Semibold";
    font-size: 24px;
	color:#3b3b3b;
	margin:0;
	line-height:36px;
	text-transform:uppercase;
}.page-content {
    margin-top: 86px;
}.page-content .page-body {
	background-color:#f8f8f8;
    float: left;
    width: 100%;
	margin-bottom:15px;
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
	border: 1px solid #e1e1e1;
}.page-content .page-body h5 {
	line-height:20px;
	margin:0;
}.page-content .page-body .action-btn {
	color:#010;
	padding-bottom:0;
	padding-top:0;
	text-decoration:none;
	display:inline;
	width:16px;
	height:16px;
	font-size:16px;
}.action-btn {
	text-decoration:none !important;
	cursor:pointer;
	color:#010;
	margin:0 1px 0 1px;
	display:inline-block;
}.add-proposal {
	text-decoration:none;
	background-color:#109618;
	font-family: "Open Sans Regular";
	font-size:16px;
	color:#fff;
}.add-proposal:hover {
	color:#fff;
}.profile-pic {
	text-align:center;
}.profile-pic img {
	width:100%;
}.portfolio-pic, .pic-action-btn {
	text-align:center;
}.portfolio-pic hr {
	margin:10px 0;
}.portfolio-pic img {
	width:100%;
	margin:0;
}.portfolio_img_upload {
	cursor:pointer;
	position:relative;
	z-index:9;
}.proposal-pic, .action-btn {
	text-align:center;
}.proposal-pic hr {
	margin:10px 0;
}.proposal-pic img {
	width:100%;
}.edit-profile {
	position:relative;
	margin:5px 0;
}.edit-pic {
	color:#3b3b3b;
	font-family: "Open Sans Regular";
	font-size:14px;
}.file-input {
	opacity:0;
	position:absolute;
	cursor:pointer;
	width:50%;
	left:25%;
}.file-portfolio {
    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
	height:100%;
}.file-proposal {
    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}.fields-panel {
    font-family: Open Sans Regular;
    font-size: 14px;
    padding: 0;
	color:#000;
}.panel-field {
    margin-bottom:15px;
}.panel-field label {
    margin-bottom: 5px;
	display:block;
}.panel-field label.title-label {
    background-color: #F2F2F2;
    padding: 10px;
}.panel-field label em {
	float:right;
}.panel-field textarea {
    resize:none;
}.image-upload {
	position:relative;
}.image-upload:hover {
	color:#fff;
}.fields-panel h3 {
	margin:0 0 15px 0;
	font-size:16px;
	color:#000;
	font-family: "Open Sans Bold";
}.box-green {
	border-top-color:#007C30 !important;
}.pie {
	margin-bottom:50px;
}.no-underline, .no-underline:hover {
	text-decoration:none;
}.error, .error p {
	color: #f00;
    display: block;
    font-size: 13px;
}.success {
	color:#080;
    display: block;
    font-size: 13px;
}.popover {
	font-size:14px;
}.alert {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-size:13px;
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
}.portfolio-thumb {
	float:left;
	margin:0;
	width:50%;
}.portfolio-thumb img {
	width:100%;
}.profile-data label {
	font-weight:600;
}.panel {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}.form-control {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	height:auto;
	margin-bottom:10px;
}.box.box-primary {
    border-top-color: #008cee;
}.box.box-danger {
    border-top-color: #ff359e;
}.box.box-info {
    border-top-color: #9e00ba;
}.box.box-success {
    border-top-color: #f9430b;
}.box {
    background-color: #f8f8f8;
    border-top: 2px solid #c1c1c1;
    -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
    width: 100%;
}.box .box-header:before, .box .box-header:after {
    content: " ";
    display: table;
}.box .box-header:after {
    clear: both;
}.box .box-header:before, .box .box-header:after {
    content: " ";
    display: table;
}.box .box-header {
	background-color:#eee;
    border-bottom: 1px solid #e1e1e1;
    color: #444;
    position: relative;
}.box .box-header > .fa, .box .box-header > .glyphicon, .box .box-header > .ion, .box .box-header .box-title {
    cursor: default;
    display: inline-block;
    float: left;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 10px;
	font-family: "Open Sans Regular";
}.box .box-body.chart-responsive {
    overflow: hidden;
    width: 100%;
}.box .box-body {
	background-color:#fff;
    padding: 10px;
	border-top: 1px solid #fff;
	min-height:100%;
	max-height:100%;
	height:100%;
	clear:both;
}.box .box-body > .chart {
    overflow: hidden;
    position: relative;
    width: 100%;
}.box .box-body > .chart svg, .box .box-body > .chart canvas {
    width: 100% !important;
	background-color:#fff;
}#map-canvas {
	height: 300px;
    margin: 0 0 65px 0;
    overflow: visible !important;
    padding: 0;
    width: 100%;
	top:50px;
	border:1px solid #ccc;
}#map-canvas .gm-style {
	overflow: visible !important;
}.map-field {
	top:-50px !important;
	left:0 !important;
}.portfolio-close {
    color: #f00;
    cursor: pointer;
    position: absolute;
    right: 2px;
    z-index: 99;
}.proposal-close {
    color: #f00;
    cursor: pointer;
    position: absolute;
    right: 17px;
    z-index: 99;
}.proposal-slider-close {
    color: #f00;
    cursor: pointer;
    position: absolute;
    right: 17px;
    z-index: 99;
}.proposal-slider-close {
    color: #f00;
    cursor: pointer;
    position: absolute;
    right: 17px;
    z-index: 99;
}

.panel-field-public {
    margin-bottom: 25px;
}.panel-field-public label {
	width:100%;
	margin-bottom:10px;
}.profile-name {
	margin:0 0 10px 0;
}.phone {
	float:right;
	font-size:14px;
	line-height:36px;
}.port-img {
	background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 5px;
    padding: 4px 3px 1px 3px;
    text-align: center;
    width: 100%;
	height:113px;
}.port-img img {
	width:50px;
	height:50px;
	margin-bottom:3px;
}#map_canvas {
	width:100%;
	height:300px;
	margin-top:-15px;
}.view-all {
	float:right;
	font-size:14px;
}.gm-style-iw{
	text-align:center;
    height: 40px;
}.public-portfolio {
	margin-bottom:15px;
}.exceeded {
	color: #f00;
}.portfolio-row, .proposal-row {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}.portfolio-row:first-child, .proposal-row:first-child {
	border-top: 1px solid #eee;
}.top-20 {
	padding-top:20px;
	display:inline-block;
	width:100%;
}.page-head {
    display: inline-block;
    width: 100%;
	height:40px;
  	margin-bottom:-5px;
  	padding:10px 0 0;
	background-color:#eee;
	border-bottom: 1px solid #e1e1e1;
}.proposal-btn {
	padding:0;
}.page-content .page-body .page-head-no-bg h5 {
	font-family: 'Open Sans Semibold';
	font-size:18px;
	color:#3b3b3b;
	line-height:24px;
}.page-content .page-body .page-head-no-bg h6 {
	font-family: 'Open Sans Semibold';
	font-size:14px;
	color:#3b3b3b;
	line-height:24px;
	margin:0;
}.page-head-no-bg {
	display: inline-block;
    width: 100%;
	padding:12px 0 0 0;
	margin-bottom:-5px;
}.proposal-field {
	margin-bottom:15px;
	clear:both;
	display:inline-block;
	width:100%;
}.proposal-field label {
	font-family: 'Open Sans Semibold';
	font-size:15px;
	font-weight:normal;
	color:#3b3b3b;
	margin-bottom:10px;
	padding-bottom:10px;
	width:100%;
	display:block;
	border-bottom:1px solid #e1e1e1;
}.property-feature {
	padding:0;
	margin:0;
	list-style:inside;
	font-size:14px;
}.proposal-map {
	height:450px !important;
}.table {
	border-bottom:1px solid #e1e1e1;
	margin: 0 0 10px 0;
}.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border:none;
}.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
	background-color:#fff;
	border-bottom:1px solid #eee;
	border-top:1px solid #eee;
}.table p {
	margin:0;
	font-size: 14px;
	font-family: "Open Sans Regular";
}.gallery-thumb img {
	width:49.25%;
	border:2px solid #000;
	margin:2px 0;
}.social-icons {
	font-size:32px;
}.thumbnail {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}.inline-block {
	display:inline-block !important;
}.filter-form .form-group label {
	font-size:14px;
	font-weight:normal;
	cursor:pointer;
}.price-range-slider {
	margin-top:7px;
}.rating-container {
	vertical-align:top;
}.rating-container .rating-stars {
	color:#357ebd;
}.rating-xs {
    margin:-5px 0 7px 0;
}.filter-form {
	padding:20px 0 0 0;
	background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
}#search_filter {
	cursor:pointer;
	margin:0;
	color:#fff;
}.pac-container {
	z-index:9999;
}.slider.slider-horizontal {
	width:100%;
}.tooltip {
	z-index:999;
}.modal-dialog-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}.modal-body {
    overflow-y: auto;
}.modal-footer {
    margin-top: 0;
}@media (max-width: 767px) {
  .modal-dialog-center {
    width: 100%;
  }
}.star-rating .caption {
    margin-top: -15px;
    padding-left: 15px;
}#proposal_results .thumbnail {
	margin-bottom:0;
}.property-feature li {
	margin-bottom:10px;
}.quick-complete {
	padding:0;
	margin:0;
	list-style-type:decimal;
    list-style-position:inside;
}.quick-complete li {
	font-size:14px;
}.need-help {
	background-color:#007C30;
	color:#fff;
	font-size:12px !important;
	margin:0;
	text-align:center;
	line-height:1.65;
}.need-help a {
	color:#fff;
	font-size:12px;
	text-decoration:none;
}.portfolio-thumb-sec {
    float: left;
    margin-right: 15px;
	margin-bottom: 15px;
    max-width: 20%;
    vertical-align: top;
}.portfolio-desc-sec {
	max-width:100%;
	vertical-align:top;
}


/*offer calculator UI prep*/
.offer-calculator-screen.flex-box{
	min-height: 500px;
	align-items:center;
}
.fields-panel.flex-box{
	display: inline;
	justify-content: center;
}
.offer-calculator-screen .assump-box-child{
	display: none;
}
.offer-calculator-screen .assump-box .assump-box-child:nth-child(2){
	display: block;
}
.offer-calculator-screen .rental-rate-cont{
	display: none;
}

.offer-calculator-screen .assump-box .full-section-box:first-child {
	display:block;
}
.offer-calculator-screen .assump-box .full-section-box {
	display:none;
}


/*tooltip css */
.popover {
    min-width: 300px;
    max-width: 300px;
}
.required {
	color:#f00;
}

/* print css */
@media print {
	body * { visibility: hidden; }
	#print_output * { visibility: visible; }
	#print_output { position: absolute; top: 40px; left: 30px; }
}


/* vats */
.choosePlan-form .choosePlan-edit div .pull-left{
	width:50%;
}
.choosePlan-form .choosePlan-edit div .pull-left label{
	display:inline;
}
.choosePlan-form .choosePlan-edit div .pull-left input{
	margin-top:0;
}
/* vats */


.cover-page,
.project-summary,
.flip-rehab-budget,
.refi-rehab-budget,
.flip-marketing-sheet,
.refi-marketing-sheet,
.flip-cash-flow,
.refi-cash-flow,
.flip-funding-request,
.refi-funding-request,
.flip-cash-flow-lender,
.refi-cash-flow-lender,
.comps-report,
.pics-page {
	margin-bottom:50px;
}

.btn-primary {
	background:#007C30;
	border:1px solid #007C30;
}.btn-primary:hover, .btn-primary:focus, .btn-primary.active {
	background:#08652c;
	border:1px solid #007C30;
}

.modal-header {
	background:#007C30;
}.modal-header h4 {
	color:#fff;
	font-size:24px;
	font-weight:bold;
}

#mobile-header {
    position: fixed;
    right: 0;
    z-index: 999999999;
}
.progress {
	margin-bottom:0;
}

.table-bordered {
	border:1px solid #e1e1e1;
}.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
	border:1px solid #e1e1e1;
}.table-bordered > thead > tr > td.active, .table-bordered > tbody > tr > td.active, .table-bordered > tfoot > tr > td.active, .table-bordered > thead > tr > th.active, .table-bordered > tbody > tr > th.active, .table-bordered > tfoot > tr > th.active, .table-bordered > thead > tr.active > td, .table-bordered > tbody > tr.active > td, .table-bordered > tfoot > tr.active > td, .table-bordered > thead > tr.active > th, .table-bordered > tbody > tr.active > th, .table-bordered > tfoot > tr.active > th {
	border:1px solid #eee;
}
.mobile-elements {
	display:none;
}
.pdf-attach {
	border:1px solid #fff;
	font-size:12px;
	height:50px;
	line-height:1.6;
	overflow:hidden;
	padding-top:6px;
	padding-bottom:6px;
	background-color:#D12122;
	word-break:break-all;
}
.pdf-attach > a, .pdf-attach > a:hover, .pdf-attach > a:focus {
	color:#fff;
	display:block;
	text-decoration:none;
}
.pdf-attach > a > i {
	font-weight:bold;
}
.modal-loading {
	font-size:12px;
}
.InputError {
	background-color:#F2DEDE;
  	border-color:#EBCCD1;
  	color:#A94442;
	padding:15px;
}
.modal-help {
	cursor:pointer;
	color:#fff;
	font-size:12px;
	float:right;
}.modal-help:hover, .modal-help:focus {
	color:#fff;
}

.success_message {
    background: #f9edbe;
	border:1px solid #f0c36d;
	border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0 10px;
    color: #222;
    left: 48%;
	top:60px;
    padding: 5px 15px;
    position: fixed;
    z-index: 999999;
}
.error_message {
    background: #de5f53;
	border:1px solid #d20000;
	border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0 10px;
    color: #fff;
    left: 48%;
	top:60px;
    padding: 5px 15px;
    position: fixed;
    z-index: 999999;
}
.quick-tags {
	margin-top:-5px;
	margin-left:-90px;
	vertical-align:middle;
	text-align:center;
	display:block;
}.quick-tag {
	background-color:#007C30;
	color:#fff;
	margin:0 5px 5px 0;
	display:inline-block;
	padding:2px 5px;
	font-size:11px;
}.quick-tag > em {
	font-style:normal;
}


footer {
	padding-top:10px;
	margin-top:15px;
	border-top:1px solid #e1e1e1;
}
footer, footer p, footer a {
	font-size:13px;
}

@media (max-width: 767px) {
	.left-panel {
		display:none;
	}
	.right-panel {
		margin:0;
	}
	.mobile-elements {
		display:block;
	}
	.navbar-toggle {
		display:block;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.left-panel {
		display:none;
	}
	.right-panel {
		margin:0;
	}
	.mobile-elements {
		display:block;
	}
	.navbar-toggle {
		display:block;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.mobile-elements {
		display:none;
	}
	.table-responsive {
		overflow:hidden;
	}
}
@media (min-width: 1200px) {
	.mobile-elements {
		display:none;
	}
	.table-responsive {
		overflow:hidden;
	}
}