/* ------------------------------------------------ */
/* ----------------- Custom Fonts ----------------- */
/* ------------------------------------------------ */
@import url(//fonts.googleapis.com/css?family=Kaushan+Script);
@font-face{
	font-family: 'Open Sans Bold';
	src:url('../fonts/OpenSans/OpenSans-Bold.eot');
	src:url('../fonts/OpenSans/OpenSans-Bold.eot?#iefix') format("embedded-opentype"),
		url('../fonts/OpenSans/OpenSans-Bold.woff') format("woff"),
		url('../fonts/OpenSans/OpenSans-Bold.ttf') format("truetype"),
		url('../fonts/OpenSans/OpenSans-Bold.svg#OpenSans-Bold') format("svg");
	font-weight:normal;
}@font-face{
	font-family: 'Open Sans ExtraBold';
	src:url('../fonts/OpenSans/OpenSans-ExtraBold.eot');
	src:url('../fonts/OpenSans/OpenSans-ExtraBold.eot?#iefix') format("embedded-opentype"),
		url('../fonts/OpenSans/OpenSans-ExtraBold.woff') format("woff"),
		url('../fonts/OpenSans/OpenSans-ExtraBold.ttf') format("truetype"),
		url('../fonts/OpenSans/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format("svg");
	font-weight:normal;
}@font-face{
	font-family: 'Open Sans Light';
	src:url('../fonts/OpenSans/OpenSans-Light.eot');
	src:url('../fonts/OpenSans/OpenSans-Light.eot?#iefix') format("embedded-opentype"),
		url('../fonts/OpenSans/OpenSans-Light.woff') format("woff"),
		url('../fonts/OpenSans/OpenSans-Light.ttf') format("truetype"),
		url('../fonts/OpenSans/OpenSans-Light.svg#OpenSans-ExtraBold') format("svg");
	font-weight:normal;
}@font-face{
	font-family: 'Open Sans Regular';
	src:url('../fonts/OpenSans/OpenSans-Regular.eot');
	src:url('../fonts/OpenSans/OpenSans-Regular.eot?#iefix') format("embedded-opentype"),
		url('../fonts/OpenSans/OpenSans-Regular.woff') format("woff"),
		url('../fonts/OpenSans/OpenSans-Regular.ttf') format("truetype"),
		url('../fonts/OpenSans/OpenSans-Regular.svg#OpenSans-ExtraBold') format("svg");
	font-weight:normal;
}@font-face{
	font-family: 'Open Sans Semibold';
	src:url('../fonts/OpenSans/OpenSans-Semibold.eot');
	src:url('../fonts/OpenSans/OpenSans-Semibold.eot?#iefix') format("embedded-opentype"),
		url('../fonts/OpenSans/OpenSans-Semibold.woff') format("woff"),
		url('../fonts/OpenSans/OpenSans-Semibold.ttf') format("truetype"),
		url('../fonts/OpenSans/OpenSans-Semibold.svg#OpenSans-ExtraBold') format("svg");
	font-weight:normal;
}