@media print {
	@import url(fonts.css);
	@page {margin:10px 0;}
	html, body { font-family: 'Open Sans Regular';font-size:5px;line-height:normal;color:#000;margin:0; }
	table {	border-collapse:collapse; border-spacing:0; }
	p {	margin:5px 0; }
	h1, h2, h3, h4, h5, h6 { margin:0 0 5px 0;	padding:0; font-weight:normal; }
	h1 { font-size:15px; }
	h2 { font-size:14px; }
	h3 { font-size:13px; }
	h4 { font-size:12px; }
	h5 { font-size:11px; }
	h6 { font-size:10px; }
	hr {
		-moz-box-sizing:content-box;
		-webkit-box-sizing:content-box;
		box-sizing:content-box;
		height:0;
		border:0;
		border-top:1px solid #ddd;
		margin:5px 0;
	}
	* {
	  box-sizing:border-box;
	}
	.table {
		width:100%;
		margin-bottom:5px;
	}
	a{
		display:none;
	}
	.table-bordered > thead > tr > th, 
	.table-bordered > tbody > tr > th, 
	.table-bordered > tfoot > tr > th, 
	.table-bordered > thead > tr > td, 
	.table-bordered > tbody > tr > td, 
	.table-bordered > tfoot > tr > td {
		border:1px solid #999;
		font-size:10px;
	}
	.table > thead > tr > th, 
	.table > tbody > tr > th, 
	.table > tfoot > tr > th, 
	.table > thead > tr > td, 
	.table > tbody > tr > td, 
	.table > tfoot > tr > td {
		padding:1px 5px;
		vertical-align:top;
		font-size:10px;
	}
	.table.table-bg {
		background:#F7F4F4;
	}
	.table.table-borderless td, .table.table-borderless th {
		border: 0 !important;
	} 
	.table.table-borderless {
		margin-bottom: 0;
	}
	.ProjectSummary, .FlipRehabBudget, .RefiRehabBudget, .CoverPage, .FlipMarketingSheet, .RefiMarketingSheet, .FlipCashFlow, .RefiCashFlow, .FlipFundingRequest, .RefiFundingRequest, .FlipCashFlowLender, .RefiCashFlowLender, .CompsReport, .PicsPage {
		border:0;
		padding-bottom:0;
		background-color:#fff;
		page-break-after:always;
		margin:0;
	}
	
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		float: left;
	}
	.col-lg-12 {
		width: 100%;
	}
	.col-lg-11 {
		width: 91.66666667%;
	}
	.col-lg-10 {
		width: 83.33333333%;
	}
	.col-lg-9 {
		width: 75%;
	}
	.col-lg-8 {
		width: 66.66666667%;
	}
	.col-lg-7 {
		width: 58.33333333%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-5 {
		width: 41.66666667%;
	}
	.col-lg-4 {
		width: 33.33333333%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-2 {
		width: 16.66666667%;
	}
	.col-lg-1 {
		width: 8.33333333%;
	}
	.col-lg-pull-12 {
		right: 100%;
	}
	.col-lg-pull-11 {
		right: 91.66666667%;
	}
	.col-lg-pull-10 {
		right: 83.33333333%;
	}
	.col-lg-pull-9 {
		right: 75%;
	}
	.col-lg-pull-8 {
		right: 66.66666667%;
	}
	.col-lg-pull-7 {
		right: 58.33333333%;
	}
	.col-lg-pull-6 {
		right: 50%;
	}
	.col-lg-pull-5 {
		right: 41.66666667%;
	}
	.col-lg-pull-4 {
		right: 33.33333333%;
	}
	.col-lg-pull-3 {
		right: 25%;
	}
	.col-lg-pull-2 {
		right: 16.66666667%;
	}
	.col-lg-pull-1 {
		right: 8.33333333%;
	}
	.col-lg-pull-0 {
		right: auto;
	}
	.col-lg-push-12 {
		left: 100%;
	}
	.col-lg-push-11 {
		left: 91.66666667%;
	}
	.col-lg-push-10 {
		left: 83.33333333%;
	}
	.col-lg-push-9 {
		left: 75%;
	}
	.col-lg-push-8 {
		left: 66.66666667%;
	}
	.col-lg-push-7 {
		left: 58.33333333%;
	}
	.col-lg-push-6 {
		left: 50%;
	}
	.col-lg-push-5 {
		left: 41.66666667%;
	}
	.col-lg-push-4 {
		left: 33.33333333%;
	}
	.col-lg-push-3 {
		left: 25%;
	}
	.col-lg-push-2 {
		left: 16.66666667%;
	}
	.col-lg-push-1 {
		left: 8.33333333%;
	}
	.col-lg-push-0 {
		left: auto;
	}
	.col-lg-offset-12 {
		margin-left: 100%;
	}
	.col-lg-offset-11 {
		margin-left: 91.66666667%;
	}
	.col-lg-offset-10 {
		margin-left: 83.33333333%;
	}
	.col-lg-offset-9 {
		margin-left: 75%;
	}
	.col-lg-offset-8 {
		margin-left: 66.66666667%;
	}
	.col-lg-offset-7 {
		margin-left: 58.33333333%;
	}
	.col-lg-offset-6 {
		margin-left: 50%;
	}
	.col-lg-offset-5 {
		margin-left: 41.66666667%;
	}
	.col-lg-offset-4 {
		margin-left: 33.33333333%;
	}
	.col-lg-offset-3 {
		margin-left: 25%;
	}
	.col-lg-offset-2 {
		margin-left: 16.66666667%;
	}
	.col-lg-offset-1 {
		margin-left: 8.33333333%;
	}
	.col-lg-offset-0 {
		margin-left: 0%;
	}
	.visible-xs {
		display: none !important;
	}
	.hidden-xs {
		display: block !important;
	}
	table.hidden-xs {
		display: table;
	}
	tr.hidden-xs {
		display: table-row !important;
	}
	th.hidden-xs,
	td.hidden-xs {
		display: table-cell !important;
	}
	.hidden-xs.hidden-print {
		display: none !important;
	}
	.hidden-lg {
		display: none !important;
	}
	.visible-lg {
		display: block !important;
	}
	table.visible-lg {
		display: table;
	}
	tr.visible-lg {
		display: table-row !important;
	}
	th.visible-lg,
	td.visible-lg {
		display: table-cell !important;
	}
	.noprint {
		display:none !important;
	}
	.thumbnail {
		height:100px;
		border: 1px solid #ddd;
		border-radius: 0;
		line-height: 1.42857;
		margin-bottom: 5px;
		padding: 2px;
	}
	.img-thumbnail {
		border: 1px solid #ddd;
		border-radius: 0;
		height: auto;
		line-height: 1.42857;
		max-width: 100%;
		padding: 2px;
		margin-bottom:5px;
	}
}